################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.plastic
/.vs
/ILMergeGui/bin/Debug
/ILMergeGui/obj/x86/Debug
/ILRepack.zip
/ILMergeGUI.v12.suo
/ILMergeGui/ILMergeGui_NewKey.pfx
/ILMergeGui/ILMergeGui.csproj.user
/ILMerge.msi
/ILMergeGUI_CodePlex_Backup.zip
